<div class="header">
    <ul class="menu">          
        <li>
            <h1>Tutorías Para Todos</h1>
        </li>
        
        <li>
            <a href ng-click="log.login()">Ingresar</a>
        </li>
    </ul>
    <ul class="menu-button" ng-hide="log.logged">
        <li><h4><a href ng-click="log.setCurrentSelection(1)">Estudiante</a></h4></li>
        <li><h4><a href ng-click="log.setCurrentSelection(2)">Ofrecer Tutorías</a></h4></li>
        <li><h4><a href ng-click="log.setCurrentSelection(3)">Buscar Tutorías</a></h4></li>
    </ul>
</div>